<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devstream.phever.activities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/phever_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >4
        <activity
            android:name="com.devstream.phever.activities.SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RadioActivity"
            android:icon="@drawable/phever_launcher"
            android:label="@string/title_activity_radio" >
        </activity>

        <service
            android:name=".StreamService"
            android:icon="@drawable/phever_launcher"
            android:label="@string/service_stream"
            android:process=":PHever_stream" >
        </service>

        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".DjScheduleActivity"
            android:label="@string/title_activity_dj_schedule" >
        </activity>
        <activity
            android:name=".TvActivity"
            android:label="@string/title_activity_tv" >
        </activity>
        <activity 
            android:name=".ConnectActivity"
            android:label="@string/title_activity_contacts" >
        </activity>
        <activity 
            android:name=".EventsActivity"
            android:label="@string/title_activity_events">
        </activity>


       <activity
            android:name="com.shamanland.facebook.likebutton.FacebookLikeActivity"
            android:label="facebook"
            android:theme="@style/AppBaseTheme"
            />


    </application>

</manifest>
